.event-search-option {
  margin: 0 10px;
}
.event-search-option .vs__dropdown-toggle {
  height: 100%;
}
@media only screen and (min-width: 430px) {
  .event-card {
    min-width: 412px;
  }
}
@media only screen and (max-width: 429px) {
  .event-card {
    min-width: 250px;
  }
  .event-card-description {
    display: block;
  }
  .event-card-img {
    width: 100%;
  }
}