#app {
    max-width: 100%;
}
#app > div {
    padding: 16px 0;
}
.q-page-container {
    padding-top: 0 !important;
}
h3 {
    margin: 20px 0;
}
h6.text-h6 {
    margin: 0;
}
span.mpop-app-notice {
    border: solid 1px #aaa;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 11px;
    margin-bottom: 10px;
}
span.mpop-app-notice.notice-warning {
    border-color: rgb(255, 187, 0);
    background-color: rgb(255 187 0 / 10%);
}
span.mpop-app-notice.notice-error {
    border-color: #f00;
    background-color: rgb(255 0 0 / 10%);
}
span.mpop-app-notice.notice-success {
    border-color: rgb(0, 207, 17);
    background-color: rgb(0 207 17 / 10%);
}
span.mpop-app-notice.notice-info {
    border-color: rgb(0, 132, 255);
    background-color: rgb(0 132 255 / 10%);
}
span.mpop-app-notice > span > span.dashicons-before.dashicons-no-alt {
    display: block;
    width: fit-content;
    text-align: right;
    margin-left: auto;
    cursor: pointer;
}
#mpop-profile-table,
#mpop-user-table {
    width: 100%;
}
#mpop-profile-table tr td:first-child,
#mpop-user-table tr td:first-child{
    white-space: nowrap;
}
#mpop-profile-table tr td:first-child,
#mpop-user-table tr td:first-child {
    width: fit-content;
}
#mpop-profile-table td:nth-child(2),
#mpop-profile-table td:nth-child(2) input:not(.vs__search),
#mpop-user-table td:nth-child(2),
#mpop-user-table td:nth-child(2) input:not(.vs__search),
#mpop-passwordChange input,
#mpop-mkChange input {
    width: 100%;
    margin-bottom: 9px;
}
#mpop-profile-table td:nth-child(2) input[type="date"],
#mpop-user-table td:nth-child(2) input[type="date"] {
    max-width: 190px;
}
#mpop-profile-table td:nth-child(2) input[type="checkbox"],
#mpop-user-table td:nth-child(2) input[type="checkbox"] {
    max-width: fit-content;
}
#mpop-profile-table textarea,
#mpop-user-table textarea {
    min-width: 200px;
}
#mpop-profile-table input,
#mpop-profile-table select,
#mpop-profile-table textarea,
#mpop-user-table input,
#mpop-user-table select,
#mpop-user-table textarea,
#mpop-passwordChange input,
#mpop-mkChange input,
#mpop-user-search input {
    font-size: var(--wp--preset--font-size--medium);
    padding: 5px;
    font-family: inherit;
}

.mpop-user-search-field {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}
.mpop-nowrap {
    white-space: nowrap;
}
.mpop-table-container {
    overflow-x: auto;
}
.mpop-click {
    cursor: pointer;
}
#mpop-page-buttons {
    display: flex;
}
#mpop-page-buttons .mpop-button {
    width: 45px;
    height: 45px;
}
#mpop-page-buttons button.mpop-button.mpop-page-selected {
    background: rgb(0, 207, 17);
}
label[for="mpop-tabs-nav"] {
    padding-right: 7px;
}
#userSearchZone-select,
#userSearchRespZone-select {
    min-width: 300px;
    width: fit-content;
}
#userSearchZone-select > div,
#userSearchRespZone-select > div,
#userEditingRespZone-select > div {
    min-height: 40px;
    height: fit-content;
}
.mpop-search-results-zone {
    list-style-type: none;
    padding-left: 0;
}
.mpop-100-wid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.mpop-50-wid {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}
main > div.entry-content.wp-block-post-content {
    padding: 0;
}
.mpop-instructions > .q-expansion-item__container > .q-item:first-child {
    background: var(--q-primary);
}
@media only screen and (min-width : 1024px) {
    #mpop-profile-table tr td:first-child,
    #mpop-user-table tr td:first-child {
        vertical-align: top;
    }
}
@media only screen and (max-width : 1023px) {
}
@media only screen and (min-width : 501px) {
    #app > div > div > div.q-drawer-container > aside {
        width: 200px;
        transform: translateX(-200px);
        top: 50px;
        position: absolute;
    }
}
@media only screen and (max-width : 480px) {
    .mpop-user-search-field {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}